* {
	margin: 0;
	padding: 0;
}

.header-img {
	max-width: 100%;
	position: absolute;
	border: solid 1px black;
}

.head-nav h1 {
	z-index: 100;
	position: absolute;
	font-family: avenir next;
	font-size: 4em;
	font-weight: bold;
	font-kerning: 5px;
	text-align: center;
	text-shadow: 1px 0 black, 1px 0 black, 1px 0 black, 1px 0 black; 
	color: #ffffff;
	left: 200px;
	top: 150px;
}
h2 {
	font-family: marker felt;
	font-size: 2em;
	text-align: center;
	margin: 5px;
}

p {
	font-family: sans-serif;
	font-size: 1.5em;
	text-align: center;
}

footer {
	font-family: sans-serif;
	font-size: 1em;
	text-align: center;
}

.social-icons {
	margin-left: 5px;
	margin-bottom: 5px;
	
}